<div class="level-container">
  <div class="level-row">
    <a class="level-card" (click)="onGotoAlphabet('A1')"><div class="level-card-text">A1</div></a>
    <a class="level-card" (click)="onGotoAlphabet('A2')"><div class="level-card-text">A2</div></a>
  </div>
  <div class="level-row">
    <a class="level-card" (click)="onGotoAlphabet('B1')"><div class="level-card-text">B1</div></a>
    <a class="level-card" (click)="onGotoAlphabet('B2')"><div class="level-card-text">B2</div></a>
  </div>
  <div class="level-row">
    <a class="level-card" (click)="onGotoAlphabet('C1')"><div class="level-card-text">C1</div></a>
    <a class="level-card" (click)="onGotoAlphabet('C2')"><div class="level-card-text">C2</div></a>
  </div>
</div>
